package reusable

templ Divider() {
	<div class="pt-2 pb-10 flex justify-center items-center">
		<div class="flex items-center gap-2">
			<div class="w-30 h-[2px] bg-gray-400"></div>
			<img class="w-6 h-6" draggable="false" src="assets/imgs/diamond.svg"/>
			<div class="w-30 h-[2px] bg-gray-400"></div>
		</div>
	</div>
}
