package web

templ Divider() {
	<div class="pt-2 pb-10 flex justify-center items-center">
		<div class="flex items-center gap-2">
			<div class="w-30 h-[2px] bg-gray-400"></div>
			<img class="w-6 h-6" draggable="false" src="/assets/imgs/diamond.svg" alt=""/>
			<div class="w-30 h-[2px] bg-gray-400"></div>
		</div>
	</div>
}

templ PageHeader(title string) {
	<div class="text-center mt-2">
		<h1 class="font-primary text-4xl sm:text-5xl md:text-6xl lg:text-7xl font-semibold tracking-tight text-balance text-neutral-200 ">{ title }</h1>
	</div>
	@Divider()
}

templ NavLink(href, label string) {
	<li>
		<a href={ templ.SafeURL(href) } class="block py-2 px-3 md:p-0 rounded-sm md:hover:bg-transparent md:hover:text-blue-500 text-white hover:bg-gray-700 md:dark:hover:bg-transparent text-lg font-primary">{ label }</a>
	</li>
}

templ Nav() {
	<nav class="bg-slate-800 border-gray-200">
		<div class="bg-slate-800 max-w-screen-lg flex flex-wrap items-center justify-between mx-auto p-4">
			<a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
				<img class="w-16 h-16" draggable="false" src="/assets/imgs/avataaars.svg" alt=""/>
				<span class="self-center text-2xl font-semibold whitespace-nowrap text-white font-primary">Brandon</span>
			</a>
			<button
				hx-on:click="
					this.setAttribute('aria-expanded', document.getElementById('navbar-default').classList.toggle('hidden') ? 'false' : 'true')
				"
				type="button"
				class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden text-gray-400 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-600"
				aria-controls="navbar-default"
				aria-expanded="false"
			>
				<span class="sr-only">Open main menu</span>
				<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
					<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"></path>
				</svg>
			</button>
			<div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-default">
				<ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 bg-slate-800 border-gray-700">
					@NavLink("/about", "About Me")
					@NavLink("/portfolio", "Portfolio")
					@NavLink("/contact", "Contact")
				</ul>
			</div>
		</div>
	</nav>
}
