package about

templ Socials() {
	<div class="text-blue-400 container flex gap-5">
		<div><a href="https://www.linkedin.com/in/brandon-hang-a8a2b220b/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></div>
		<div><a href="https://github.com/Brandhang34" target="_blank"><i class="fa-brands fa-github"></i></a></div>
		<div><a href="https://www.facebook.com/BrandonHang34" target="_blank"><i class="fa-brands fa-facebook"></i></a></div>
		<div><a href="https://www.instagram.com/brandang34" target="_blank"><i class="fa-brands fa-instagram"></i></a></div>
		<div><a href="https://twitter.com/Brandhang34" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></div>
		<div><a href="https://littlelink.sushamae.com" target="_blank"><i class="fab fa-fw fa-dribbble"></i></a></div>
	</div>
}
